<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title>Four Boxes Slideshow | Demo 1</title>
		<meta name="description" content="Four Boxes Slideshow: Recreating the background image slideshow seen on Atelier Serge Thoroval's website" />
		<meta name="keywords" content="background slideshow, boxes, background image, four panels, css, tutorial" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link href='http://fonts.googleapis.com/css?family=Raleway:200,400,600' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="../static/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/demo.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/component.css" />
		<script src="../static/js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container">
			<!-- Top Navigation -->
			<div class="codrops-top clearfix">
				<a class="codrops-icon codrops-icon-prev" href="http://tympanus.net/Development/InlineAnchorStyles/"><span>Previous Demo</span></a>
				<span class="right"><a class="codrops-icon codrops-icon-drop" href="http://tympanus.net/codrops/?p=19242"><span>Back to the Codrops Article</span></a></span>
			</div>
			<div id="boxgallery" class="boxgallery" data-effect="effect-1">
				<div class="panel"><img src="../static/img/경복궁.jpeg" alt="Image 1"/>
				<header class="codrops-header">
				<h1>경복궁 </h1>
				<nav class="codrops-demos">
					<a href="predict.html">이번주 혼잡도 보러가기</a>
					<a href="preview.html">신뢰도 확인하러가기</a>
					<a href="index3.html">경복궁 정보 보러가기</a>
					
				</nav>
			</header>
				</div>
				<div class="panel"><img src="../static/img/서울대공원.jpg" alt="Image 2"/>
				<header class="codrops-header">
				<h1>서울대공원</h1>
				<nav class="codrops-demos">
					<a href="index.html">혼잡도 예측확인</a>
					<a href="index2.html">위치 정보</a>
					<a href="index3.html">행사 정보</a>
					<a href="index3.html">할인 정보</a>
				</nav>
			</header></div>
				<div class="panel"><img src="../static/img/3.jpg" alt="Image 3"/></div>
				<div class="panel"><img src="../static/img/4.jpg" alt="Image 4"/></div>
			</div>
			
		</div><!-- /container -->
		<script src="../static/js/classie.js"></script>
		<script src="../static/js/boxesFx.js"></script>
		<script>
			new BoxesFx( document.getElementById( 'boxgallery' ) );
		</script>
	</body>
</html>