<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title>map_castle</title>
		<meta name="description" content="Four Boxes Slideshow: Recreating the background image slideshow seen on Atelier Serge Thoroval's website" />
		<meta name="keywords" content="background slideshow, boxes, background image, four panels, css, tutorial" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../../noon2.ico">
		<link href='http://fonts.googleapis.com/css?family=Raleway:200,400,600' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="../static/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/demo.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/component.css" />
		<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyBNlLFY3gWRrGsP1VlI8yzjMbo3iobR18U" ></script>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="../static/js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container">
			<!-- Top Navigation -->
			<div class="navbar">
				<a href="index.html">NOONCHIGAME</a>
				<a href="preview_castle.hrml">과거 관람객</a>
				<a href="preview_castle.hrml">이번주 관람객</a>
				<a href="map_castle.html">경복궁&주변</a>
				<div class="dropdown">
    				<button class="dropbtn" onclick="myFunction()">경복궁 행사 
      					<i class="fa fa-caret-down"></i>
    				</button>
    				<div class="dropdown-content" id="myDropdown">
				      <a href="info_castle_1.html">수라간 시식 공감</a>
				      <a href="info_castle_2.html">주●야간 전통공연</a>
				      <a href="info_castle_3.html">수문장 교대의식</a>
				    </div>
				</div>
				
			</div>
			<!-- <div class="codrops-top clearfix">
				<a href="index.html">
					<span>noonchigame</span>
				</a>
				<span class="right">
					<a class="codrops-icon codrops-icon-drop" href="preview_castle.html"><span>과거 혼잡도</span></a>
					<a class="codrops-icon codrops-icon-drop" href="predict_castle.html"><span>이번주 혼잡도</span></a>
					<a class="codrops-icon codrops-icon-drop" href="info_castle.html"><span>경복궁 행사 정보</span></a>
				</span>
			</div> -->
			
				<div class="panel"><img src="../static/img/경복궁.jpeg" alt="Image 1" style="opacity:0.1" width=100% height=100%/>
					<div class="map" id="map" style="width: 500px; height: 400px; color: black;">
					
					  <script type="text/javascript">
					    var locations = [
					      ['한복소녀', 37.577193, 126.973008,'https://www.google.com/maps/place/구르미한복+경복궁점/@37.5781361,126.9772328,16.6z/data=!4m8!1m2!2m1!1z7ZWc67O1!3m4!1s0x0:0x562cb08fac0114a1!8m2!3d37.5764843!4d126.9739656?hl=ko'],
					      ['참한복', 37.575552, 126.978833,'https://www.google.com/maps/place/구르미한복+경복궁점/@37.5781361,126.9772328,16.6z/data=!4m8!1m2!2m1!1z7ZWc67O1!3m4!1s0x0:0x562cb08fac0114a1!8m2!3d37.5764843!4d126.9739656?hl=ko'],
					      ['서촌나들이', 37.577388, 126.972085,'https://www.google.com/maps/place/구르미한복+경복궁점/@37.5781361,126.9772328,16.6z/data=!4m8!1m2!2m1!1z7ZWc67O1!3m4!1s0x0:0x562cb08fac0114a1!8m2!3d37.5764843!4d126.9739656?hl=ko'],
					      ['고운솔한복', 37.576334, 126.973330,'https://www.google.com/maps/place/구르미한복+경복궁점/@37.5781361,126.9772328,16.6z/data=!4m8!1m2!2m1!1z7ZWc67O1!3m4!1s0x0:0x562cb08fac0114a1!8m2!3d37.5764843!4d126.9739656?hl=ko'],
					      ['안녕한복', 37.581712, 126.982124,'https://www.google.com/maps/place/구르미한복+경복궁점/@37.5781361,126.9772328,16.6z/data=!4m8!1m2!2m1!1z7ZWc67O1!3m4!1s0x0:0x562cb08fac0114a1!8m2!3d37.5764843!4d126.9739656?hl=ko'],
					      ['해와달한복',37.578774, 126.972232,'https://www.google.com/maps/place/구르미한복+경복궁점/@37.5781361,126.9772328,16.6z/data=!4m8!1m2!2m1!1z7ZWc67O1!3m4!1s0x0:0x562cb08fac0114a1!8m2!3d37.5764843!4d126.9739656?hl=ko'],
					      ['한복월드',37.577040, 126.972313,'https://www.google.com/maps/place/구르미한복+경복궁점/@37.5781361,126.9772328,16.6z/data=!4m8!1m2!2m1!1z7ZWc67O1!3m4!1s0x0:0x562cb08fac0114a1!8m2!3d37.5764843!4d126.9739656?hl=ko'],
					      ['이리데한복',37.576767, 126.973198,'https://www.google.com/maps/place/구르미한복+경복궁점/@37.5781361,126.9772328,16.6z/data=!4m8!1m2!2m1!1z7ZWc67O1!3m4!1s0x0:0x562cb08fac0114a1!8m2!3d37.5764843!4d126.9739656?hl=ko'],
					      ['DoryeongAssi Hanbok Rental',37.576560, 126.972728,'https://www.google.com/maps/place/구르미한복+경복궁점/@37.5781361,126.9772328,16.6z/data=!4m8!1m2!2m1!1z7ZWc67O1!3m4!1s0x0:0x562cb08fac0114a1!8m2!3d37.5764843!4d126.9739656?hl=ko'],
					      ['구르미한복 ',37.576732, 126.973964,'https://www.google.com/maps/place/구르미한복+경복궁점/@37.5781361,126.9772328,16.6z/data=!4m8!1m2!2m1!1z7ZWc67O1!3m4!1s0x0:0x562cb08fac0114a1!8m2!3d37.5764843!4d126.9739656?hl=ko'],
					      ['한복남',37.576438, 126.973306,'https://www.google.com/maps/place/구르미한복+경복궁점/@37.5781361,126.9772328,16.6z/data=!4m8!1m2!2m1!1z7ZWc67O1!3m4!1s0x0:0x562cb08fac0114a1!8m2!3d37.5764843!4d126.9739656?hl=ko'],
					      ['서화한복',37.576145, 126.973847,'https://www.google.com/maps/place/구르미한복+경복궁점/@37.5781361,126.9772328,16.6z/data=!4m8!1m2!2m1!1z7ZWc67O1!3m4!1s0x0:0x562cb08fac0114a1!8m2!3d37.5764843!4d126.9739656?hl=ko'],
					      ['국민한복 차빔',37.575350, 126.983516,'https://www.google.com/maps/place/구르미한복+경복궁점/@37.5781361,126.9772328,16.6z/data=!4m8!1m2!2m1!1z7ZWc67O1!3m4!1s0x0:0x562cb08fac0114a1!8m2!3d37.5764843!4d126.9739656?hl=ko'],
					      ['인사동 길서울 한복',37.575047, 126.984242,'https://www.google.com/maps/place/구르미한복+경복궁점/@37.5781361,126.9772328,16.6z/data=!4m8!1m2!2m1!1z7ZWc67O1!3m4!1s0x0:0x562cb08fac0114a1!8m2!3d37.5764843!4d126.9739656?hl=ko'],
					      ['원데이 한복',37.579850, 126.984682,'https://www.google.com/maps/place/구르미한복+경복궁점/@37.5781361,126.9772328,16.6z/data=!4m8!1m2!2m1!1z7ZWc67O1!3m4!1s0x0:0x562cb08fac0114a1!8m2!3d37.5764843!4d126.9739656?hl=ko'],
					      ['도깨비 한복',37.579017, 126.983038,'https://www.google.com/maps/place/구르미한복+경복궁점/@37.5781361,126.9772328,16.6z/data=!4m8!1m2!2m1!1z7ZWc67O1!3m4!1s0x0:0x562cb08fac0114a1!8m2!3d37.5764843!4d126.9739656?hl=ko'],
					      ['공주한복',37.578411, 126.983707,'https://www.google.com/maps/place/구르미한복+경복궁점/@37.5781361,126.9772328,16.6z/data=!4m8!1m2!2m1!1z7ZWc67O1!3m4!1s0x0:0x562cb08fac0114a1!8m2!3d37.5764843!4d126.9739656?hl=ko'],
					      ['삼삼오오',37.578010, 126.980630,'https://www.google.com/maps/place/구르미한복+경복궁점/@37.5781361,126.9772328,16.6z/data=!4m8!1m2!2m1!1z7ZWc67O1!3m4!1s0x0:0x562cb08fac0114a1!8m2!3d37.5764843!4d126.9739656?hl=ko']
					    ];
					
					    var map = new google.maps.Map(document.getElementById('map'), {
					      zoom: 12,
					      center: new google.maps.LatLng(37.549012, 126.988546),
					      mapTypeId: google.maps.MapTypeId.ROADMAP
					    });
					
					    var infowindow = new google.maps.InfoWindow();
					
					    var marker, i;
					    for (i = 0; i < locations.length; i++) {  
					      marker = new google.maps.Marker({
					        id:i,
					        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
					        map: map
					      });
					
					      google.maps.event.addListener(marker, 'click', (function(marker, i) {
					        return function() {
					          infowindow.setContent(locations[i][0]+'<p>Attribution: Uluru, <a href='+location[i][3]+'>'+
					            '리뷰보러가기</a></p> ');
					          infowindow.open(map, marker);
					        }
					      })(marker, i));
					      if(marker)
					      {
					        marker.addListener('click', function() {
					          map.setZoom(15);
					          map.setCenter(this.getPosition());
					        });
					        }
					    }
					
					  </script>
				</div>
				
		</div>
		</div>
		
		<!-- /container -->
		<script src="../static/js/classie.js"></script>
		<script src="../static/js/boxesFx.js"></script>
		<script>
			new BoxesFx( document.getElementById( 'boxgallery' ) );
		</script>
		<script>
			function myFunction(){
				document.getElementById("myDropdown").classList.toggle("show")
			}
			window.onclick=function(e){
				if(!e.target.matches('.dropbtn')){
					var myDropdown=document.getElementById("myDropdown");
						if(myDropdown.classList.contains('show')){
							myDropdown.classList.remove('show');
						}
				}
			}
		</script>
	</body>
</html>