<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title>Show Preview Data</title>
		<meta name="description" content="Four Boxes Slideshow: Recreating the background image slideshow seen on Atelier Serge Thoroval's website" />
		<meta name="keywords" content="background slideshow, boxes, background image, four panels, css, tutorial" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link href='http://fonts.googleapis.com/css?family=Raleway:200,400,600' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="../static/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/demo.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/component.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/calendar.css" />
		
		<script src="../static/js/modernizr.custom.js"></script>
	</head>
	<script>
	var today, yy, mm, test;
	</script>
	<body>
		<div class="container">
			<!-- Top Navigation -->
			<div class="codrops-top clearfix">
				<a class="codrops-icon codrops-icon-prev" href="index.html"><span>이전</span></a>
				<span class="right"><a class="codrops-icon codrops-icon-drop" href="http://tympanus.net/codrops/?p=19242"><span>Back to the Codrops Article</span></a></span>
			</div>
			
				<div class="panel"><img src="../static/img/경복궁.jpeg" alt="Image 1" style="opacity:0.1" width=100% height=100%/>
				
				<header class="codrops-header2">
				
			<div class="wrapper">
			 <div style="display:block;">날짜로 검색 <input type="text" maxlength="6" 
			 placeholder=" YYYYMM(ex.201908)" style="border-left:0px; border-right:0px; border-top:0px; border-bottom:1px solid #A8B2B9; color:#A8B2B9; background-color:rgba(0,0,0,0);">
				<input type="button"></div>
    <div class="toolbar">
      <div class="toggle">
       <label onclick="prevMonth()"><h1><</h1></label>
      </div>
         <div id="m">
</div>
      <script>
      /* function select(){
    	  var popUrl = "select.html";
    	  var popOption = "width=370, height=360, resizable=no, scrollbars=no, status=no;";
    	  window.open(popUrl, "aa", popOption);
      } */
      var today = new Date();
      var yy = today.getFullYear();
      var mm = today.getMonth()+1;
      yy = yy + "년";
      mm = mm + "월";
      document.getElementById("m").innerHTML = "<br/><font size=4>"+yy+"</font><br/><br/>";
      
      document.getElementById("m").style.fontSize = '2em';
      //document.getElementByClass("menu1").append(yy);
      document.getElementById("m").append(mm);
      </script>
      
     	<!--   <a nocr href="#" class="sp_btn_arr cld_on">
      <i class="fas fa-caret-down"></i>
      	span class="blind">년/월 선택</span>
      </a>
      <div style="display:block; top:184px; left: 364px;"
      class="ly_direct_select">
      
      <a nocr href="#" class="btn_clse_btn_close">
      		<i class="fas fa-angle-down"></i>
      	</a>
      	<p class="tit_ds">직접 선택</p>
      	<div class="sel_year">
      		<ul>
      			<li class yearvalue="2011">
      				<a nocr="1" href="#">2011년</a>
      			</li>
      			<li class yearvalue="2012">
      				<a nocr="1" href="#">2012년</a>
      			</li>
      			<li class yearvalue="2013">
      				<a nocr="1" href="#">2013년</a>
      			</li>
      			<li class yearvalue="2014">
      				<a nocr="1" href="#">2014년</a>
      			<li class yearvalue="2015">
      				<a nocr="1" href="#">2015년</a>
      			</li>
      			<li class yearvalue="2016">
      				<a nocr="1" href="#">2016년</a>
      			</li>
      			<li class yearvalue="2017">
      				<a nocr="1" href="#">2017년</a>
      			</li>
      			<li class yearvalue="2018">
      				<a nocr="1" href="#">2018년</a>
      			</li>
      			<li class="selected" yearvalue="2019">
      				<a nocr="1" href="#">2019년</a>
      			</li>
      			</ul>
      		</div>
      		<div class="sel_month">
      			<ul>
      				<li class monthvalue="1">
      					<a nocr="1" href="#">1월</a>
      				</li>
      				<li class monthvalue="2">
      					<a nocr="1" href="#">2월</a>
      				</li>
      				<li class monthvalue="3">
      					<a nocr="1" href="#">3월</a>
      				</li>
      				<li class monthvalue="4">
      					<a nocr="1" href="#">4월</a>
      				</li>
      				<li class monthvalue="5">
      					<a nocr="1" href="#">5월</a>
      				</li>
      				<li class monthvalue="6">
      					<a nocr="1" href="#">6월</a>
      				</li>
      				<li class monthvalue="7">
      					<a nocr="1" href="#">7월</a>
      				</li>
      				<li class="selected" monthvalue="8">
      					<a nocr="1" href="#">8월</a>
      				</li>
      				<li class monthvalue="9">
      					<a nocr="1" href="#">9월</a>
      				</li>
      				<li class monthvalue="10">
      					<a nocr="1" href="#">10월</a>
      				</li>
      				<li class monthvalue="11">
      					<a nocr="1" href="#">11월</a>
      				</li>
      				<li class monthvalue="12">
      					<a nocr="1" href="#">12월</a>
      				</li>
      			</ul>
      		</div>
      	</div> -->
      <div class="search-input">
      <label onclick="nextMonth()"><h1>></h1></label>
      
      </div>
    </div>
    <div class="calendar">
      <div class="calendar__header">
        <div>mon</div>
        <div>tue</div>
        <div>wed</div>
        <div>thu</div>
        <div>fri</div>
        <div>sat</div>
        <div>sun</div>
      </div>
      <form method='post'>
      <div class="calendar__week">
        <div class="calendar__day day" id="1"></div>
        <div class="calendar__day day" id="2"></div>
        <div class="calendar__day day" id="3"></div>
        <div class="calendar__day day" id="4"></div>
        <div class="calendar__day day" id="5"></div>
        <div class="calendar__day day" id="6"></div>
        <div class="calendar__day day" id="7"></div>
      </div>
      <div class="calendar__week">
        <div class="calendar__day day" id="8"></div>
        <div class="calendar__day day" id="9"></div>
        <div class="calendar__day day" id="10"></div>
        <div class="calendar__day day" id="11"></div>
        <div class="calendar__day day" id="12"></div>
        <div class="calendar__day day" id="13"></div>
        <div class="calendar__day day" id="14"></div>        
      </div>
      <div class="calendar__week">
        <div class="calendar__day day" id="15"></div>
        <div class="calendar__day day" id="16"></div>
        <div class="calendar__day day" id="17"></div>
        <div class="calendar__day day" id="18"></div>
        <div class="calendar__day day" id="19"></div>
        <div class="calendar__day day" id="20"></div>
        <div class="calendar__day day" id="21"></div> 
        </div>
      <div class="calendar__week">
        <div class="calendar__day day" id="22"></div>
        <div class="calendar__day day" id="23"></div>
        <div class="calendar__day day" id="24"></div>
        <div class="calendar__day day" id="25"></div>
        <div class="calendar__day day" id="26"></div> 
        <div class="calendar__day day" id="27"></div> 
        <div class="calendar__day day" id="28"></div> 
      </div>
      <div class="calendar__week">
        <div class="calendar__day day" id="29"></div>
        <div class="calendar__day day" id="30"></div>
        <div class="calendar__day day" id="31"></div>
        <div class="calendar__day day" id="32"></div>
        <div class="calendar__day day" id="33"></div>
        <div class="calendar__day day" id="34"></div>
        <div class="calendar__day day" id="35"></div>
        </div>
       
        
        <div class="calendar__week">
        <div class="calendar__day day" id="36"></div>
        <div class="calendar__day day" id="37"></div>
        <div class="calendar__day day" id="38"></div>
        <div class="calendar__day day" id="39"></div>
        <div class="calendar__day day" id="40"></div>
        <div class="calendar__day day" id="41"></div>
        <div class="calendar__day day" id="42"></div>
        </div>
        
        
        </form>
        <script>
       
        function monthdate(year, month){
        	switch(month){
        	case 1: case 3: case 5: case 7: case 8: case 10: case 12:
        		return 31;
        	case 4: case 6: case 9: case 11:
        		return 30;
        	case 2:
        		if((year%400)==0||(year%4)==0&&(year%100)!=0) return 29;
        		else return 28;
        	}
        }
        
        function update(dd, date, mo){
        	for (i=dd;date<=mo;i++){
            	switch(yy){
            	case 2011:
            		var test = {{test}};
            		document.getElementById(i).innerHTML = "<br/><br/>"+test[mm-1][i-dd]+"명";
            		break;
            	case 2012:
            		var test2012 = {{test2012}};
            		document.getElementById(i).innerHTML = "<br/><br/>"+test2012[mm-1][i-dd]+"명";
            		break;
            	case 2013:
            		var test2013 = {{test2013}};
            		document.getElementById(i).innerHTML = "<br/><br/>"+test2013[mm-1][i-dd]+"명";
            		break;
            	case 2014:
            		var test2014 = {{test2014}};
            		document.getElementById(i).innerHTML = "<br/><br/>"+test2014[mm-1][i-dd]+"명";
            		break;
            	case 2015:
            		var test2015 = {{test2015}};
            		document.getElementById(i).innerHTML = "<br/><br/>"+test2015[mm-1][i-dd]+"명";
            		break;
            	case 2016:
            		var test2016 = {{test2016}};
            		document.getElementById(i).innerHTML = "<br/><br/>"+test2016[mm-1][i-dd]+"명";
            		break;
            	case 2017:
            		var test2017 = {{test2017}};
            		document.getElementById(i).innerHTML = "<br/><br/>"+test2017[mm-1][i-dd]+"명";
            		break;
            	case 2018:
            		var test2018 = {{test2018}};
            		document.getElementById(i).innerHTML = "<br/><br/>"+test2018[mm-1][i-dd]+"명";
            		break;
            	case 2019:
            		var test2019 = {{test2019}};
            		document.getElementById(i).innerHTML = "<br/><br/>"+Math.round(test2019[mm-1][i-dd])+"명";
            		break;
            	default:
            		document.getElementById(i).innerHTML = "<br/><br/>";
            	}
            	
            	
            	document.getElementById(i).prepend(date);
            	
            	//document.getElementById(i).innerHTML = {{test}}
            	date++;
            }
        }
        
        today = new Date();
        yy = today.getFullYear();
      	mm = today.getMonth() + 1;
      	
        
        
        var mo = monthdate(yy, mm);
        today = new Date(yy, mm-1);
        var dd = today.getDay();

     
        	if (dd==0) dd=7;
            var date = 1;
            
           
            for (i=1;i<dd;i++){
            	document.getElementById(i).innerHTML = "";
            }

            update(dd, date, mo);	
 
   
        function nextMonth(){
        	mm++;
        	if(mm>12){
        		mm=mm-12;
        		yy++;
        	}
        	document.getElementById("m").innerHTML = "<br/><font size=4>"+yy+"년</font><br/><br/>";
            document.getElementById("m").style.fontSize = '2em';
            document.getElementById("m").append(mm+"월");
        	today = new Date(yy, mm-1);
        	var mo = monthdate(yy, mm);

        var dd = today.getDay();
	
        
    	if (dd==0) dd=7;
        var date = 1;
        for (i=1;i<dd;i++){
        	document.getElementById(i).innerHTML = "";
        }
        update(dd, date, mo);
       
        for (;i<=42;i++){
        	document.getElementById(i).innerHTML = "";
        }
        }
        
        function prevMonth(){
        	mm--;
        	if(mm<1){
        		mm=mm+12;
        		yy--;
        	}
        	document.getElementById("m").innerHTML = "<br/><font size=4>"+yy+"년</font><br/><br/>";
     
            document.getElementById("m").style.fontSize = '2em';
            document.getElementById("m").append(mm+"월");
            
            var mo = monthdate(yy, mm);
        	today = new Date(yy, mm-1);
        	

        var dd = today.getDay();

        
    	if (dd==0) dd=7;
        var date = 1;
        for (i=1;i<dd;i++){
        	document.getElementById(i).innerHTML = "";
        }
        update(dd, date, mo);
        for (;i<=42;i++){
        	document.getElementById(i).innerHTML = "";
        }
        }
        </script>
    </div>

 
</div>
			
			</header>
				</div>
				
		
		</div><!-- /container -->
		<script src="../static/js/classie.js"></script>
		<script src="../static/js/calendar.js"></script>

		
		<script>
			new BoxesFx( document.getElementById( 'boxgallery' ) );
		</script>
		
		
	</body>
</html>