<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title>Four Boxes Slideshow | Demo 1</title>
		<meta name="description" content="Four Boxes Slideshow: Recreating the background image slideshow seen on Atelier Serge Thoroval's website" />
		<meta name="keywords" content="background slideshow, boxes, background image, four panels, css, tutorial" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link href='http://fonts.googleapis.com/css?family=Raleway:200,400,600' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="../static/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/demo.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/component.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/calendar.css" />
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="../static/js/modernizr.custom.js"></script>
	</head>
	<script>
	var today, yy, mm, test;
	</script>
	<body>
		<div class="container">
			<!-- Top Navigation -->
			<div class="navbar">
				<a href="index.html">NOONCHIGAME</a>
				<a href="preview_castle.html">과거 관람객</a>
				<a href="predict_castle.html">이번주 관람객</a>
				<a href="map_castle.html">경복궁&주변</a>
				<div class="dropdown">
    				<button class="dropbtn" onclick="myFunction()">경복궁 행사 
      					<i class="fa fa-caret-down"></i>
    				</button>
    				<div class="dropdown-content" id="myDropdown">
				      <a href="info_castle_1.html">수라간 시식 공감</a>
				      <a href="info_castle_2.html">주●야간 전통공연</a>
				      <a href="info_castle_3.html">수문장 교대의식</a>
				    </div>
				  </div>
				
			</div>
			<!-- <div class="codrops-top clearfix">
				<a href="index.html"><span>noonchigame</span></a>
				<span class="right">
					<a class="codrops-icon codrops-icon-drop" href="predict_castle.html"><span>이번주 혼잡도</span></a>
					<a class="codrops-icon codrops-icon-drop" href="info_castle.html"><span>경복궁 행사 정보</span></a>
					<a class="codrops-icon codrops-icon-drop" href="map_castle.html"><span>경복궁&주변</span></a>
				</span>
			</div> -->
			
				<div class="panel"><img src="../static/img/경복궁.jpeg" alt="Image 1" style="opacity:0.1" width=100% height=100%/>
				<header class="codrops-header2">
			<div class="wrapper">
  <main>
    <div class="toolbar">
      <div class="toggle">
       <label onclick="prevMonth()"><h1><</h1></label>
      </div>
         <div id="m"></div>
      <script>
      var today = new Date();
      var yy = today.getFullYear();
      var mm = today.getMonth()+1;
      yy = yy + "년";
      mm = mm + "월";
      document.getElementById("m").innerHTML = "<font size=4>"+yy+"</font><br/><br/>";
      document.getElementById("m").style.fontSize = '2em';
      document.getElementById("m").append(mm);
      </script>
  
      <div class="search-input">
      <label onclick="nextMonth()"><h1>></h1></label>
      
      </div>
    </div>
    <div class="calendar">
      <div class="calendar__header">
        <div>mon</div>
        <div>tue</div>
        <div>wed</div>
        <div>thu</div>
        <div>fri</div>
        <div>sat</div>
        <div>sun</div>
      </div>
      <form method='post'>
      <div class="calendar__week">
        <div class="calendar__day day" id="1"></div>
        <div class="calendar__day day" id="2"></div>
        <div class="calendar__day day" id="3"></div>
        <div class="calendar__day day" id="4"></div>
        <div class="calendar__day day" id="5"></div>
        <div class="calendar__day day" id="6"></div>
        <div class="calendar__day day" id="7"></div>
      </div>
      <div class="calendar__week">
        <div class="calendar__day day" id="8"></div>
        <div class="calendar__day day" id="9"></div>
        <div class="calendar__day day" id="10"></div>
        <div class="calendar__day day" id="11"></div>
        <div class="calendar__day day" id="12"></div>
        <div class="calendar__day day" id="13"></div>
        <div class="calendar__day day" id="14"></div>        
      </div>
      <div class="calendar__week">
        <div class="calendar__day day" id="15"></div>
        <div class="calendar__day day" id="16"></div>
        <div class="calendar__day day" id="17"></div>
        <div class="calendar__day day" id="18"></div>
        <div class="calendar__day day" id="19"></div>
        <div class="calendar__day day" id="20"></div>
        <div class="calendar__day day" id="21"></div> 
        </div>
      <div class="calendar__week">
        <div class="calendar__day day" id="22"></div>
        <div class="calendar__day day" id="23"></div>
        <div class="calendar__day day" id="24"></div>
        <div class="calendar__day day" id="25"></div>
        <div class="calendar__day day" id="26"></div> 
        <div class="calendar__day day" id="27"></div> 
        <div class="calendar__day day" id="28"></div> 
      </div>
      <div class="calendar__week">
        <div class="calendar__day day" id="29"></div>
        <div class="calendar__day day" id="30"></div>
        <div class="calendar__day day" id="31"></div>
        <div class="calendar__day day" id="32"></div>
        <div class="calendar__day day" id="33"></div>
        <div class="calendar__day day" id="34"></div>
        <div class="calendar__day day" id="35"></div>
        </div>
       
        
        <div class="calendar__week">
        <div class="calendar__day day" id="36"></div>
        <div class="calendar__day day" id="37"></div>
        <div class="calendar__day day" id="38"></div>
        <div class="calendar__day day" id="39"></div>
        <div class="calendar__day day" id="40"></div>
        <div class="calendar__day day" id="41"></div>
        <div class="calendar__day day" id="42"></div>
        </div>
        
        
        </form>
        <script>
       
        function monthdate(year, month){
        	switch(month){
        	case 1: case 3: case 5: case 7: case 8: case 10: case 12:
        		return 31;
        	case 4: case 6: case 9: case 11:
        		return 30;
        	case 2:
        		if((year%400)==0||(year%4)==0&&(year%100)!=0) return 29;
        		else return 28;
        	}
        }
        
        function update(dd, date, mo){
        	for (i=dd;date<=mo;i++){
            	switch(yy){
            	case 2011:
            		var test = {{test}};
            		document.getElementById(i).innerHTML = "<br/><br/>"+test[mm-1][i-dd]+"명";
            		break;
            	case 2012:
            		var test2012 = {{test2012}};
            		document.getElementById(i).innerHTML = "<br/><br/>"+test2012[mm-1][i-dd]+"명";
            		break;
            	case 2013:
            		var test2013 = {{test2013}};
            		document.getElementById(i).innerHTML = "<br/><br/>"+test2013[mm-1][i-dd]+"명";
            		break;
            	case 2014:
            		var test2014 = {{test2014}};
            		document.getElementById(i).innerHTML = "<br/><br/>"+test2014[mm-1][i-dd]+"명";
            		break;
            	case 2015:
            		var test2015 = {{test2015}};
            		document.getElementById(i).innerHTML = "<br/><br/>"+test2015[mm-1][i-dd]+"명";
            		break;
            	case 2016:
            		var test2016 = {{test2016}};
            		document.getElementById(i).innerHTML = "<br/><br/>"+test2016[mm-1][i-dd]+"명";
            		break;
            	case 2017:
            		var test2017 = {{test2017}};
            		document.getElementById(i).innerHTML = "<br/><br/>"+test2017[mm-1][i-dd]+"명";
            		break;
            	case 2018: case 2019:
            		var test2018 = {{test2018}};
            		document.getElementById(i).innerHTML = "<br/><br/>"+test2018[mm-1][i-dd]+"명";
            		break;
            	default:
            		document.getElementById(i).innerHTML = "<br/><br/>";
            	}
            	
            	
            	document.getElementById(i).prepend(date);
            	
            	//document.getElementById(i).innerHTML = {{test}}
            	date++;
            }
        }
        
        today = new Date();
        yy = today.getFullYear();
      	mm = today.getMonth() + 1;
      	
        
        
        var mo = monthdate(yy, mm);
        today = new Date(yy, mm-1);
        var dd = today.getDay();

     
        	if (dd==0) dd=7;
            var date = 1;
            
           
            for (i=1;i<dd;i++){
            	document.getElementById(i).innerHTML = "";
            }

            update(dd, date, mo);	
 
   
        function nextMonth(){
        	mm++;
        	if(mm>12){
        		mm=mm-12;
        		yy++;
        	}
        	document.getElementById("m").innerHTML = "<font size=4>"+yy+"년</font><br/><br/>";
            document.getElementById("m").style.fontSize = '2em';
            document.getElementById("m").append(mm+"월");
        	today = new Date(yy, mm-1);
        	var mo = monthdate(yy, mm);

        var dd = today.getDay();
	
        
    	if (dd==0) dd=7;
        var date = 1;
        for (i=1;i<dd;i++){
        	document.getElementById(i).innerHTML = "";
        }
        update(dd, date, mo);
       
        for (;i<=42;i++){
        	document.getElementById(i).innerHTML = "";
        }
        }
        
        function prevMonth(){
        	mm--;
        	if(mm<1){
        		mm=mm+12;
        		yy--;
        	}
        	document.getElementById("m").innerHTML = "<font size=4>"+yy+"년</font><br/><br/>";
     
            document.getElementById("m").style.fontSize = '2em';
            document.getElementById("m").append(mm+"월");
            var mo = monthdate(yy, mm);
        	today = new Date(yy, mm-1);

        var dd = today.getDay();

        
    	if (dd==0) dd=7;
        var date = 1;
        for (i=1;i<dd;i++){
        	document.getElementById(i).innerHTML = "";
        }
        update(dd, date, mo);
        for (;i<=42;i++){
        	document.getElementById(i).innerHTML = "";
        }
        }
        </script>
    </div>
  </main>
 
</div>
			
			</header>
				</div>
				
		
		</div><!-- /container -->
		<script src="../static/js/classie.js"></script>
		<script src="../static/js/calendar.js"></script>

		
		<script>
			new BoxesFx( document.getElementById( 'boxgallery' ) );
		</script>
		<script>
			function myFunction(){
				document.getElementById("myDropdown").classList.toggle("show")
			}
			window.onclick=function(e){
				if(!e.target.matches('.dropbtn')){
					var myDropdown=document.getElementById("myDropdown");
						if(myDropdown.classList.contains('show')){
							myDropdown.classList.remove('show');
						}
				}
			}
		</script>
		
	</body>
</html>